# =========================
# Unity Generated Folders
# =========================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# =========================
# MemoryCaptures
# =========================
[Mm]emoryCaptures/

# =========================
# Asset meta data (IMPORTANT)
# =========================
!/[Aa]ssets/**/*.meta
!/[Pp]ackages/**/*.meta

# =========================
# Visual Studio / Rider
# =========================
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Unity Cloud / Collab
# =========================
.collab/

# =========================
# Builds (no subir ejecutables)
# =========================
*.apk
*.aab
*.unitypackage
*.app
*.exe
*.ipa

# =========================
# Addressables / Cache
# =========================
ServerData/